@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
}
html body {
  background-color: #eeeeee;
  position: relative;
}

header .header-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #4564c2;
  border: #ffffff 10px double;
  color: #ffffff;
  padding: 15px;
  gap: 10px;
  padding-top: 50px;
  text-align: center;
}
header .header-content h1 {
  font-size: 3rem;
}
header .header-content p {
  font-size: 1.5rem;
}

.nav {
  position: sticky;
  top: 0%;
  z-index: 100;
  width: 100%;
}
.nav__list {
  width: 100%;
  display: flex;
  gap: 5%;
  list-style: none;
  justify-content: center;
  background-color: #a1a1a1;
  margin-bottom: 0%;
  padding-left: 0%;
}
.nav__list--item {
  display: flex;
}
.nav__list--item a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  border-bottom: #ffffff solid 1px;
  padding: 7px 10px;
  text-decoration: none;
}
.nav__list--item a:hover {
  color: #292929;
  background-color: #eeeeee;
  cursor: pointer;
}

.about-me {
  background: linear-gradient(160deg, #4564c2 70%, #292929 70%);
  display: flex;
  flex-direction: column;
  padding-block: 50px 30px;
  padding-inline: 25%;
  margin-top: 70px;
  gap: 15px;
  position: relative;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 1279px) {
  .about-me {
    padding-inline: 10%;
  }
}
@media only screen and (max-width: 767px) {
  .about-me {
    padding-inline: 5%;
  }
}
.about-me .logoElement {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -55px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border: #ffffff 10px double;
  background-color: #4564c2;
  border-radius: 50%;
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
}
.about-me h3 {
  font-size: 3rem;
}
.about-me--text {
  font-size: 1.5rem;
  line-height: 2;
}
.about-me--text .rounded-pill {
  margin-right: 10px;
}
.about-me--text .bg-pill--html {
  background-color: #f0652a;
}
.about-me--text .bg-pill--css {
  background-color: #34aadc;
}
.about-me--text .bg-pill--sass {
  background-color: #ca669c;
}
.about-me--text .bg-pill--javascript {
  background-color: #e8d44c;
}
.about-me--text .bg-pill--react {
  background-color: #61dbfb;
}
.about-me--text .bg-pill--typescript {
  background-color: #2d79c7;
}
.about-me--text .bg-pill--bootstrap {
  background-color: #7952b3;
}
.about-me--text .bg-pill--git {
  background-color: #f05133;
}
.about-me a {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-left: auto;
}

#container-proyects {
  padding: 0px 0px 30px;
  background-color: #eeeeee;
}
#container-proyects #proyects-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  background-color: #4564c2;
  border-top: #ffffff 10px double;
  border-bottom: #ffffff 10px double;
  padding: 10px;
  text-align: center;
}
#container-proyects #list-proyects-container {
  width: inherit;
  margin: auto;
}
#container-proyects #list-proyects-container .proyect {
  max-width: 500px;
}
#container-proyects #list-proyects-container .proyect .card {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
#container-proyects #list-proyects-container .proyect .card-body {
  color: #292929;
}
#container-proyects #list-proyects-container .proyect .card-title {
  font-size: 3rem;
  text-align: center;
}
#container-proyects #list-proyects-container .proyect .card-footer {
  display: flex;
  justify-content: space-around;
}
#container-proyects #list-proyects-container .proyect .card-footer .btn {
  font-size: 1.5rem;
}

footer {
  background: radial-gradient(circle, #4e4e4e 0%, black 100%);
  padding: 30px 20px 0;
}
footer .social-media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  height: auto;
  width: auto;
}
footer .social-media .social-items {
  display: inline;
  font-size: 3.5rem;
}
footer .social-media .mail-item {
  grid-area: 2/1/3/3;
  justify-self: center;
  font-size: 1.5rem;
  gap: 5px;
}
footer .social-media .mail-item p {
  letter-spacing: 2px;
  margin: 0%;
}
footer .social-media .social-linkedin {
  grid-area: 1/1/2/2;
  justify-self: right;
}
footer .social-media li {
  display: flex;
  align-items: center;
}
footer .social-media li a,
footer .social-media li p,
footer .social-media li .bx {
  color: #ffffff;
  font-family: "Archivo", sans-serif;
  line-height: 1;
}
footer .social-media li a {
  text-decoration: none;
}
footer .footer-text {
  margin-top: 15px;
  margin-bottom: 0%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #a1a1a1;
}
footer .footer-text > a {
  color: #77b5fe;
}