@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Oswald", sans-serif;
  min-width: 375px;
}
html body {
  color: #ffffff;
}
html body main section {
  padding-inline: 9%;
}

.principal-banner-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  background: url("../assets/arnold-francisca-f77Bh3inUpE-unsplash.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.principal-banner-container h1 {
  font-size: 3rem;
  font-weight: 700;
  border-right: 2px solid transparent;
  width: 10ch;
  padding-right: 5px;
  letter-spacing: 3px;
  overflow: hidden;
  animation: type 2s steps(10), blink 0.5s 10 step-end alternate;
}
@keyframes type {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: white;
  }
}
.principal-banner-container p {
  font-size: 1.9rem;
  font-weight: 400;
}
.principal-banner-container h1,
.principal-banner-container p {
  max-width: 40%;
}
.principal-banner-container .principal-banner--list {
  display: flex;
  position: absolute;
  padding-inline: 9%;
  top: 0;
  align-self: center;
  width: 100%;
  justify-content: right;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.52);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.principal-banner-container .principal-banner--list li {
  display: flex;
}
.principal-banner-container .principal-banner--list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 700;
  border-bottom: #4564c2 solid 1px;
  padding: 10px 20px;
}
.principal-banner-container .principal-banner--list li a:hover {
  background-color: #292929;
}
.principal-banner-container > a {
  padding: 7px;
  background-color: #77b5fe;
  border-radius: 15px;
  color: #ffffff;
  font-size: 1.9rem;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
}
.principal-banner-container > a:hover {
  background-color: #00008b;
}

.about-me {
  height: auto;
  width: 100%;
  color: #ffffff;
  background-color: #4564c2;
  padding-block: 50px;
}
.about-me--title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.about-me--text {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.8;
  max-width: 50%;
}
.about-me--btn {
  font-size: 1.9rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 10px 20px;
}
.about-me--btn:hover {
  background-color: #00008b;
}

.list-proyects-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 15px 50px;
  background: linear-gradient(180deg, #fafafa 0%, #8f8f8f 100%);
}
.list-proyects-container h2 {
  font-size: 4rem;
  min-width: 100vw;
  color: #292929;
  text-align: center;
}
.list-proyects-container hr {
  min-width: 100vw;
  height: 1px;
  border-color: #4564c2;
  background-color: #4564c2;
}
.list-proyects-container div {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 20px;
  height: 250px;
  width: 370px;
  color: #292929;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 13px 10px 15px #a8a8a8;
}
.list-proyects-container div h3 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 2.5rem;
  color: #ffffff;
  background-color: #292929;
  border-radius: 20px 20px 0 0;
  padding: 5px 10px;
  align-self: flex-start;
  width: 100%;
  text-align: center;
}
.list-proyects-container div .proyects-btns {
  display: flex;
  position: absolute;
  place-self: center;
  width: 75%;
  text-align: center;
  overflow: hidden;
  height: 35%;
  border: 1px solid #ffffff;
  background-color: rgba(37, 37, 37, 0.664);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #ffffff;
  font-size: 1.9rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  animation: look 0.8s steps(30);
}
.list-proyects-container div .proyects-btns:hover {
  background-color: #00008b;
}
.list-proyects-container div .proyects-btns-none {
  display: none;
}
@keyframes look {
  from {
    width: 0;
    height: 0;
  }
}
.list-proyects-container div #visit-btn {
  grid-column: 1/2;
  grid-row: 2/3;
}
.list-proyects-container div #repo-btn {
  grid-column: 2/3;
  grid-row: 2/3;
}
.list-proyects-container .login-register {
  background-image: url("../assets/log-reg.webp");
}
.list-proyects-container .e-commerce-product {
  background-image: url("../assets/e-commerce-product.webp");
}
.list-proyects-container .Room-homepage {
  background-image: url("../assets/roomhomepage.webp");
}
.list-proyects-container .Manage-landing-page {
  background-image: url("../assets/manage-landing.webp");
}
.list-proyects-container .Todo-app {
  background-image: url("../assets/todo-app.webp");
}

footer {
  background-color: #292929;
  padding: 50px 20px;
}
footer .social-media {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  width: auto;
}
footer .social-media li {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .social-media li a,
footer .social-media li p,
footer .social-media li .bx {
  color: #ffffff;
  font-size: 1.9rem;
  font-family: "Oswald", sans-serif;
  line-height: 1;
}
footer .social-media li a {
  text-decoration: none;
}

@media only screen and (max-width: 425px) {
  .principal-banner-container {
    align-items: center;
    padding: 20px;
    background-image: url("../assets/michael-baccin-XopauR-Nagk-unsplash.webp");
  }
  .principal-banner-container .principal-banner--list {
    justify-content: center;
    padding: 0;
  }
  .principal-banner-container h1,
.principal-banner-container p {
    max-width: none;
    text-align: center;
  }

  .about-me--text {
    border: #ffffff 1px solid;
    padding: 15px;
    border-radius: 10px;
    max-width: none;
  }

  footer .social-media {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .principal-banner-container h1,
.principal-banner-container p {
    max-width: none;
  }

  .about-me--text {
    max-width: none;
  }
}