.about-me {
    height          : auto;
    width           : 100%;
    color           : $color-light;
    background-color: $color-bg;
    padding-block   : 30px;

    &--title {
        font-size  : $font-s-title;
        font-weight: $font-w-b;
        margin-bottom: 15px;
    }

    &--text {
        font-size    : $font-s-text;
        font-weight  : $font-w-l;
        margin-bottom: 30px;
        line-height  : 1.8;
    }

    &--btn {
        font-size      : $font-s-text;
        font-weight    : $font-w-l;
        color          : $color-light;
        text-decoration: none;
        border         : 1px solid $color-light;
        padding        : 10px 20px;

        &:hover {
            background-color: $color-btn-bg-hover;
        }
    }
}