@include respond-to(425px) {
    .header-container {
        align-items     : center;
        background-image: url('../assets/michael-baccin-XopauR-Nagk-unsplash.webp');

        .header-list {
            justify-content: center;
            padding        : 0;
        }

        h1,
        p {
            max-width : none;
            text-align: center;
        }
    }

    .about-me--text {
        border       : $color-light 1px solid;
        padding      : 15px;
        border-radius: 10px;
        max-width    : none;
    }

    footer {

        .social-media {
            align-items: flex-start;
        }
    }
}

@include respond-to (768px) {

    .about-me--text {
        max-width: none;
    }
}