@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


$font-f: 'Oswald', sans-serif;
$font-w-b: 700;
$font-w-l: 400;
$font-s-text: 1.9rem;
$font-s-title: 3rem;
$color-dark: #292929;
$color-light: #ffffff;
$color-btn-bg:#77b5fe;
$color-btn-bg-hover:#00008b;
$color-bg:#4564c2;
$gray:#a8a8a8;

