.main-section__about-me {
    background        : $color-bg-gradient;
    display           : flex;
    flex-direction    : column;
    gap               : 10px;
    justify-content   : center;
    // min-height        : 100vh;
    padding           : 5vh 5vw ;
    // padding-top    : 10px;
    position          : relative;
    text-align        : center;

    .about-me__logo-top {
        width           : 70px;
        margin          : auto auto 0;
        border-radius   : 50%;
        background-color: $color-light;
    }
    .btn-cv {
        border         : 1px solid $color-light;
        color          : $color-light;
        font-size      : 1.8rem;
        font-weight    : $font-w-b;
        margin         : auto 0 0 auto;
        padding        : 10px 30px;
        text-decoration: none;
        transition     : all .5s;
        width          : 100%;
        @include respond-to-tablet(){
            width          : fit-content;

        }

        &:hover {
            background-color: $color-light;
            color           : $color-dark;
        }

    }
}