.proyects-section {
    background-color: $color-gray-light;
    
    &__title {
        padding-block         : 30px;
        color          : $color-dark;
        display        : flex;
        font-size      : $font-s-title;
        font-weight: $font-w-b;
        gap            : 5px;
        justify-content: center;
        text-align     : center;

        hr {
            background-color: $color-dark;
            border          : none;
            height          : 2px;
            margin          : auto;
            width           : 100%;
        }
    }

    .proyects-container {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        width          : inherit;

        .proyect {
            border-radius : 10px;
            color         : $color-dark;
            display       : flex;
            flex-direction: column;
            margin        : 5px;
            min-width     : 320px;
            width         : 380px;
            padding       : 15px;

            img {
                width        : 100%;
                aspect-ratio: 3/2;
                border-radius: 10px;
            }

            &:nth-child(odd) {
                background-color: $color-light;
            }

            &:nth-child(even) {
                background-color: $color-gray;
                color           : $color-light;

                .proyect-content {
                    .btns {
                        a {
                            color: $color-light;

                        }
                    }
                }
            }

            .proyect-content {
                display       : flex;
                flex-direction: column;
                gap           : 10px;

                h3 {
                    font-size      : 3rem;
                    text-decoration: underline;
                }

                p {
                    font-size: 1.5rem;
                }

            }
        }
    }
}