@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x     : hidden;
}

.bg-figures {
  background: radial-gradient(circle farthest-side at 0% 50%, #000000 23.5%, #0000 0)18.9px 27px, radial-gradient(circle farthest-side at 0% 50%, #1d1d1d 24%, #0000 0)17.1px 27px,
    linear-gradient(#000000 14%, #0000 0, #0000 85%, #000000 0)0 0,
    linear-gradient(150deg, #000000 24%, #1d1d1d 0, #1d1d1d 26%, #0000 0, #0000 74%, #1d1d1d 0, #1d1d1d 76%, #000000 0)0 0,
    linear-gradient(30deg, #000000 24%, #1d1d1d 0, #1d1d1d 26%, #0000 0, #0000 74%, #1d1d1d 0, #1d1d1d 76%, #000000 0)0 0,
    linear-gradient(90deg, #1d1d1d 2%, #000000 0, #000000 98%, #1d1d1d 0%)0 0 #000000;
  background-size : 36px 54px;
  background-color: #000000;
}