@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
html .main {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.main-section__about-me {
  background: linear-gradient(160deg, #5975c9 63%, #000000 63%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 100vh;
  padding: 0 5vw 0px;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main-section__about-me {
    padding-top: 0;
  }
}
.main-section__about-me .about-me__logo-top {
  width: 60px;
  margin: auto auto 0;
  border-radius: 50%;
  background-color: #ffffff;
}
.main-section__about-me .about-me__title {
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .main-section__about-me .about-me__title {
    font-size: 4rem;
    line-height: 0.5;
  }
}
.main-section__about-me .about-me__content {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1024px;
}
.main-section__about-me .social-content {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.main-section__about-me .social-imgs {
  transition: all 0.5s;
  width: 60px;
  height: 60px;
}
.main-section__about-me .social-imgs .social__icon {
  width: inherit;
  height: inherit;
}
.main-section__about-me .social-imgs:hover {
  filter: invert(1);
}
.main-section__about-me .btn-cv {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  margin: auto 0 0 auto;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 0.5s;
  width: -webkit-fit-content;
  width: fit-content;
}
.main-section__about-me .btn-cv:hover {
  background-color: #ffffff;
  color: #000000;
}
.main-section__about-me .pills-tecnologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: auto auto 75px;
}
.main-section__about-me .pills-tecnologies h3 {
  font-size: 2rem;
  width: 100%;
}
.main-section__about-me .pills-tecnologies .pill {
  border-radius: 10px;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 3px 10px;
}
.main-section__about-me .pills-tecnologies .pill-html {
  background-color: #f0652a;
}
.main-section__about-me .pills-tecnologies .pill-css {
  background-color: #34aadc;
}
.main-section__about-me .pills-tecnologies .pill-sass {
  background-color: #ca669c;
}
.main-section__about-me .pills-tecnologies .pill-js {
  background-color: #e8d44c;
}
.main-section__about-me .pills-tecnologies .pill-react {
  background-color: #61dbfb;
}
.main-section__about-me .pills-tecnologies .pill-git {
  background-color: #f05133;
}
.main-section__about-me .pills-tecnologies .pill-bootstrap {
  background-color: #7952b3;
}
.main-section__about-me .about-me__logo-bottom {
  animation: 4s rotate linear infinite;
  bottom: -60px;
  height: 120px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 120px;
  border-radius: 50%;
  background-color: #ffffff;
}
@keyframes rotate {
  0%, 100% {
    scale: 0.8;
  }
  50% {
    scale: 1;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.proyects-section {
  padding: 70px 0px;
  background-color: #eeeeee;
}
.proyects-section__title {
  color: #000000;
  display: flex;
  font-size: 3rem;
  gap: 5px;
  justify-content: center;
  text-align: center;
}
.proyects-section__title hr {
  background-color: #000000;
  border: none;
  height: 2px;
  margin: auto;
  width: 100%;
}
.proyects-section .proyects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: inherit;
}
.proyects-section .proyects-container .proyect {
  border-radius: 10px;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 380px;
  padding: 15px;
}
.proyects-section .proyects-container .proyect:nth-child(odd) {
  background-color: #ffffff;
}
.proyects-section .proyects-container .proyect:nth-child(even) {
  background-color: #585858;
  color: #ffffff;
}
.proyects-section .proyects-container .proyect:nth-child(even) .proyect-content .btns a {
  color: #ffffff;
}
.proyects-section .proyects-container .proyect .proyect-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.proyects-section .proyects-container .proyect .proyect-content h3 {
  font-size: 3rem;
  text-decoration: underline;
}
.proyects-section .proyects-container .proyect .proyect-content p {
  font-size: 1.5rem;
}
.proyects-section .proyects-container .proyect .proyect-content img {
  width: 100%;
  border-radius: 10px;
}
.proyects-section .proyects-container .proyect .proyect-content .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.proyects-section .proyects-container .proyect .proyect-content .btns .btn-visit {
  border-radius: 10px;
  background-color: #5d9feb;
}
.proyects-section .proyects-container .proyect .proyect-content .btns .btn-visit:hover {
  background-color: #1111ad;
  color: #ffffff;
}
.proyects-section .proyects-container .proyect .proyect-content .btns .btn-repo:hover {
  color: #1111ad;
}
.proyects-section .proyects-container .proyect .proyect-content .btns a {
  border-radius: 10px;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 15px;
  text-decoration: none;
}
.proyects-section .proyects-container .proyect .proyect-content .btns a:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding-block: 10px;
  width: 100%;
}
.footer-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
}
.footer .form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
}
.footer .form .input {
  background-color: transparent;
  border: none;
  border-bottom: #ffffff 1px solid;
  color: #ffffff;
}
.footer .form .input::placeholder {
  color: #eeeeee;
}
.footer .form .input:focus-visible {
  outline: none;
  background-color: #585858;
}
.footer .form .input,
.footer .form button {
  margin-block: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
}
.footer .form button {
  border-radius: 20px;
  border: none;
  background-color: #5d9feb;
  padding: 10px 30px;
  margin-inline: auto;
  font-weight: 700;
}
.footer .form button:hover {
  background-color: #1111ad;
  color: #ffffff;
  transform: scale(1.2);
  transition: all 0.3s;
}
.footer .form textarea {
  resize: none;
}