@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$font-f: 'Poppins',
sans-serif;
$font-s-text : 1.5rem;
$font-s-title: 3rem;
$font-w-b    : 700;
$font-w-l    : 400;

$color-dark       : #000000;
$color-gray       :#585858;
$color-gray-light :#eeeeee;
$color-light      : #ffffff;

$color-bg          :#5975c9;
$color-bg-gradient :linear-gradient(0deg, $color-dark 0%, $color-bg 93%);
$color-btn-bg      :#5d9feb;
$color-btn-bg-hover:#1111ad;

$color-pill-html :#f0652a;
$color-pill-bt   :#7952b3;
$color-pill-css  :#34aadc;
$color-pill-git  :#f05133;
$color-pill-js   :#e8d44c;
$color-pill-react:#61dbfb;
$color-pill-sass :#ca669c;